---
---

<<<<<<< HEAD

canvas { background: #eee; display: left; margin: 0 auto; }
=======
a#active {
    font-weight: bold;
}

.list-unstyled li {
    float: left;
    margin: 0 15px
}

canvas { background: #eee; border:1px solid #d3d3d3;}
>>>>>>> 01a8d774e1143d22430db0f77b17dccd389a7860


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    padding: 20px;
    width: 50%;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
}
